.itemBox_itemBox:hover {
    border-color: #DDD;
}
.itemBox_itemBox {
    float: left;
    margin: 5px;
    width: 200px;
    overflow: hidden;
    height: 325px;
    position: relative;
    background-color: #f4eee0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.itemBox_itemBox_inner {
    height: 280px;
}
.itemBox_itemBox .favButton {
    width: 100px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}
.itemBox_itemBox_left {
    float:left;
    width:200px;
    text-align:center;
}
.itemBox_itemBox_fav {
    margin-left: auto;
    margin-right: auto;
    float: none;
    width:100px;
}
