.itemBox_itemBox:hover {
    border-color: #DDD;
}
.itemBox_itemBox {
    float: left;
    margin: 5px;
    width: 350px;
    overflow: hidden;
    height: 290px;
}
.itemBox_itemBox_left {
    float:left;
    width:200px;
    text-align:center;
}
.itemBox_itemBox_right {
    width:150px;
    float:left;
}
